//font 

@font-face {
  font-family: 'Caturrita VU Regular';
  src: url('../fonts/Caturrita VU Regular.eot'),
  url('../fonts/Caturrita VU Regular.woff') format('woff'),
  url('../fonts/Caturrita VU Regular.ttf') format('truetype'),
  url('../fonts/Caturrita VU Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaturritaVU-Bold';
  src: url('../fonts/CaturritaVU-Bold.eot'),
  url('../fonts/CaturritaVU-Bold.woff') format('woff'), 
  url('../fonts/CaturritaVU-Bold.ttf') format('truetype'), 
  url('../fonts/CaturritaVU-Bold.svg') format('svg');
  font-weight: 400;
  font-style: normal;
} 

@font-face {
  font-family: 'helveticaworld-regular';
  src: url('../fonts/helveticaworld-regular.eot') format('embedded-opentype');
  src: url('../fonts/helveticaworld-regular.ttf') format('embedded-opentype');
  src: url('../fonts/helveticaworld-regular.woff') format('embedded-opentype');
  src: url('../fonts/helveticaworld-regular.woff2') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-world-bold';
  src: url('../fonts/helvetica-world-bold.eot') format('embedded-opentype');
  src: url('../fonts/helvetica-world-bold.ttf') format('embedded-opentype');
  src: url('../fonts/helvetica-world-bold.woff') format('embedded-opentype');
  src: url('../fonts/helvetica-world-bold.woff2') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_UTM AmericanaItalic';
  src: url('../fonts/UTM AmericanaItalic.eot');
  src: local('☺'), url('../fonts/UTM AmericanaItalic.woff') format('woff'), 
  url('../fonts/UTM AmericanaItalic.ttf') format('truetype'), 
  url('../fonts/UTM AmericanaItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
@font-face {
  font-family: 'Conv_UTMAmericanaBold';
  src: url('../fonts/UTMAmericanaBold.eot');
  src: local('☺'), url('../fonts/UTMAmericanaBold.woff') format('woff'), 
  url('../fonts/UTMAmericanaBold.ttf') format('truetype'), 
  url('../fonts/UTMAmericanaBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_UTMAmericana';
  src: url('../fonts/UTMAmericana.eot');
  src: local('☺'), url('../fonts/UTMAmericana.woff') format('woff'), 
  url('../fonts/UTMAmericana.ttf') format('truetype'), 
  url('../fonts/UTMAmericana.svg') format('svg');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'fa-regular';
  src: url('../webfonts/fa-regular-400.eot') format('embedded-opentype');
  src: url('../webfonts/fa-regular-400.ttf') format('embedded-opentype');
  src: url('../webfonts/fa-regular-400.woff') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



 

 